@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-admin: var(--primary-admin);
  --color-title: var(--title);
  --color-body: var(--body);
  --color-body-400: var(--body-400);
  --color-success: var(--success);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-purple-50: var(--purple-50);
  --color-purple-100: var(--purple-100);
  --color-purple-150: var(--purple-150);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple: var(--purple);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-850: var(--purple-850);
  --color-purple-900: var(--purple-900);
  --color-purple-950: var(--purple-950);
  --color-purple-1000: var(--purple-1000);
  --color-monochrome-50: var(--monochrome-50);
  --color-monochrome-500: var(--monochrome-500);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-green: var(--green);
  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-yellow: var(--yellow);
  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-blue: var(--blue);
  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-red: var(--red);
  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9705 0.0142 254.6);
  --black: #030312;
  --white: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #754af3;
  --primary-admin: #754af3;
  --title: #030312;
  --body: #4b5a75;
  --body-400: #6c798f;
  --success: #04c37e;
  --success-50: #d8f9ed;
  --success-100: #c1f3e0;
  --warning: #ffc31c;
  --error: #f84d64;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #4b5a75;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e0e3e9;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --purple-50: #f1ecfd;
  --purple-100: #e3dafc;
  --purple-150: #d5c8fb;
  --purple-200: #c7b6fa;
  --purple-300: #ac92f7;
  --purple-400: #906ef5;
  --purple: #754af3;
  --purple-600: #5e3bc6;
  --purple-700: #482c99;
  --purple-800: #32136d;
  --purple-850: #271656;
  --purple-900: #1c0f40;
  --purple-950: #11082a;
  --purple-1000: #060114;
  --blue: #3b82f6;
  --blue-50: #ebf3ff;
  --blue-100: #cde0ff;
  --yellow: #ffc31c;
  --yellow-50: #fff9e8;
  --yellow-100: #fff3d2;
  --green: #04c37e;
  --green-50: #d8f9ed;
  --green-100: #c1f3e0;
  --red: #f84d64;
  --red-50: #feedef;
  --red-100: #fddbe0;
  --monochrome-50: #e0e4e9;
  --monochrome-500: #4b5a75;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --black: #ffffff;
  --white: #03020f;
  --body: #8d97a9;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0.0029 264.54);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --purple-50: #f1ecfd;
  --purple-100: #e3dafc;
  --purple-150: #d5c8fb;
  --purple-200: #c7b6fa;
  --purple-300: #ac92f7;
  --purple-400: #906ef5;
  --purple: #754af3;
  --purple-600: #5e3bc6;
  --purple-700: #482c99;
  --purple-800: #32136d;
  --purple-850: #271656;
  --purple-900: #1c0f40;
  --purple-950: #11082a;
  --purple-1000: #060114;
  --blue: #3b82f6;
  --blue-600: #2f69c7;
  --blue-700: #235097;
  --yellow: #ffc31c;
  --yellow-600: #cc9c16;
  --yellow-700: #997511;
  --green: #04c37e;
  --green-600: #039c65;
  --green-700: #02754c;
  --red: #f84d64;
  --red-600: #cc3e51;
  --red-700: #a02f3e;
  --monochrome-50: #e0e4e9;
  --monochrome-500: #4b5a75;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white dark:bg-white text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}
